body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #252525;
	color: #ddd;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 5px 0px;
	box-shadow: 0px 1px 3px grey;
	line-height: 2em;
	text-align: center;
	position: relative;
}

p {
	color: #000;
	margin: 0px 0px 0px 5px;
	display: inline;
}
/*==============
====HEADER======
==============*/
#header {
	width: 100%;
	height: 75px;
	background-color: #212121;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: fixed;
	top: 0px;
	z-index: 1;
	background-image: url("/worldhaven/img/worldhavenDark.png");
	background-position: center;
	background-size: 600px 70px;
	background-repeat: no-repeat;
}

.headerBtn {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	background-color: #282828;
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	transition: background-color 0.2s;
	cursor: pointer;
}

.headerBtn:hover {
	background-color: #303030;
}

#home {
	left: 10px;
	background-image: url("/worldhaven/img/home.png");
}

#worlds {
	left: 70px;
	background-image: url("/worldhaven/img/worlds.png");
}

#login {
	right: 10px;
	background-image: url("/worldhaven/img/user.png");
}

#forums {
	right: 70px;
	background-image: url("/worldhaven/img/forums.png");
}

#account {
	opacity: 0;
	position: absolute;
	top: 80px;
	right: 10px;
	width: 300px;
	height: 153px;
	background-color: #252525;
	z-index: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 1px solid #212121;
}

#account:before {
	content: "";
    position: absolute;
    top: -27px;
    right: 10px;
    z-index: 1;
    border: solid 14px transparent;
    border-bottom-color: #212121;
}

#account:after {
	content: "";
    position: absolute;
    top: -27px;
    right: 9px;
    z-index: 1;
    border: solid 15px transparent;
    border-bottom-color: #252525;
}

#accountBox {
	margin: 10px;
	height: 84px;
	vertical-align: top;
	background-color: #252525;
}

#accountBox img {
	position: absolute;
	left: 20px;
	border-radius: 50px;
}

#accountBox div {
	font-size: 24px;
	position: absolute;
	left: 110px;
}

#accountOptions {
	background: #212121;
	padding: 10px 0;
	border-top: 1px solid #303030;
	height: 28px;
}

#accountOptions button {
	height: 28px;
	position: absolute;
	padding: 0px 10px;
}

#myAccount {
	left: 20px;
}

#signOut {
	right: 20px;
}

#toast {
	background-color: #3d80ee;
	position: fixed;
	bottom: 20px;
	left: calc(50% - 70px);
	line-height: 1.5;
	padding: 10px 25px;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	opacity: 0;
	z-index: 1000;
}

#nightMode {
	position: fixed;
	bottom: 20px;
	background-color: #212121;
	width: 100px;
	height: 50px;
	right: 40px;
	padding: 5px;
	border-radius: 2px;
	z-index: 99;
}

.dayNight {
	border-radius: 2px;
	float: left;
	background-color: #252525;
	width: 47.5%;
	height: 100%;
	transition: background-color 0.2s;
	cursor: pointer;
}

.dayNight:hover {
	background-color: #303030;
}

#day {
	margin-right: 5px;
	background-image: url("/worldhaven/img/day.png");
	background-size: 40px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
}

#night {
	background-image: url("/worldhaven/img/night.png");
	background-size: 35px;
	background-position: 6px 6px;
	background-repeat: no-repeat;
}
/*==========
====MAIN====
==========*/

#mainContainer {
	width: 1200px;
	height: 1000px;
	margin: 100px auto 25px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}

#welcomeImg {
	max-width: 100%;
	max-height: 300px;
	font-weight: 700;
	background-color: #212121;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px 5px 0px 0px;
	font-size: 80px;
	line-height: 1.8em;
	text-shadow: 1px 1px grey;
	cursor: default;
}

#welcomeText {
	width: 660px;
	background-color: #252525;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	font-size: 18px;
}

#centerCol {
	width: 680px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	background-color: #212121;
}

/*==========
====LEFT====
==========*/

#leftCol {
	position: absolute;
	width: 205px;
	overflow: hidden;
	z-index: 0;
	padding: 10px;
	border-collapse: collapse;
	background-color: #212121;
}

.featuredWorlds {
	position: relative;
	background-color: #252525;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 30px;
}

.worldHeader {
	height: 15%;
	font-weight: 400;
	text-align: center;
	line-height: 3em;
	box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 3px;
}

.worldInfo {
	position: relative;
	background-color: #252525;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	line-height: 1.5em;
	overflow: hidden;
}

.worldInfo p {
	color: grey;
}
.test {
	position: relative;
	height: calc(16% - 0px);
	background-color: #252525;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	padding: 4px;
	transition: background-color 0.2s;
	cursor: pointer;
	line-height: 1em;
}

.test:hover {
	background-color: #303030;/*#f0f0f0;*/
	z-index: 5;
}

dl {
	margin: 0;
	overflow: hidden;
	color: grey;
	font-size: 12px;
	font-weight: 400;
}

dt, dd {
	margin: 0;
}

span {
	color: #3498db;
	font-weight: 500;
}

/*==========
====RIGHT====
==========*/

#rightCol {
	position: absolute;
	right: 10px;
	width: 205px;
	overflow: hidden;
	z-index: 0;
	padding: 10px;
	border-collapse: collapse;
	background-color: #212121;
}

.listIcon {
	position: absolute;
	left: 10px;
	width: 29px;
	height: 24px;
}

li {
	line-height: 1.8em;
	vertical-align: text-top;
	font-size: 20px;
	background-size: 35px 35px;
	background-repeat: no-repeat;	
	transition: background-color 0.2s;
	cursor: pointer;
	background-position: 7px 0px;
}

li:hover {
	background-color: #303030;
}

#redditLi {
	background-image: url(../img/redditIcon2.png);
}

#forumsLi {
	background-image: url(../img/forums.png);
}

#twitterLi {
	background-image: url(../img/twitterIcon.png);
}
/*===========
====LOGIN====
===========*/

.formBox {
	position: fixed;
	padding: 10px;
	font-size: 20px;
	background-color: #212121;
	background-size: 250px 30px;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.formBox p {
	margin: 0;
	width: calc(100% - 20px);
	position: absolute;
	left: 0;
	top: 10px;
	padding: 10px;
	color: inherit;
}

#loginBox {
	width: 380px;
	height: 285px;
	top: 300px;
	left: calc(50% - 200px);
	background-image: url("/worldhaven/img/worldhavenDark.png");
	background-position: 50% 50px;
}

#registerLink {
	top: auto;
	bottom: 10px;
}

#registerBox {
	width: 480px;
	height: 400px;
	top: 250px;
	left: calc(50% - 250px);
	background-image: url("/worldhaven/img/worldhavenDark.png");
	background-position: 50% 60px;
}

#registerBox  p {
	margin: 0;
	width: calc(100% - 20px);
	position: absolute;
	left: 0;
	top: 10px;
	padding: 10px;
}

#worldBox {
	top: 175px;
	width: 480px;
	left: calc(50% - 250px);
	background-image: url("/worldhaven/img/worldhavenDark.png");
	background-position: 50% 60px;
}

input, textarea {
	margin: 2% 10%;
	position: relative;
	height: 30px;
	width: 80%;
	font-size: 20px;
	background-color: #212121;
	color: inherit;
	border: none;
	border-bottom: 2px solid grey;
	transition: border 0.2s;
	max-width: 80%;
	font-family: inherit;
}

input:focus, textarea:focus {
	outline: none;
}

input:hover, textarea:hover {
	border: none !important;
	border-bottom: 2px solid #4d90fe !important;
}

input:focus, textarea:focus {
	border: none !important;
	border-bottom: 2px solid #4d90fe !important;
}

form {
	margin-top: calc(20%);
}

form button {
	background-color: #3d80ee;
	border: 1px solid #3079ed;
	color: #212121;
	height: 40px;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 2px;
	font-size: 24px;
}

textarea {
	height: 200px;
	max-height: 250px;
	background-color: #252525;
}

input[type="file"] {
	width: 255px !important;
	border: none;
	transition: color 0.2s;
}

input[type="file"]:hover {
	border: none !important;
	color: #4d90fe;
}

input[type="file"]:focus {
	border: none !important;
}