body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/*==============
====HEADER======
==============*/
#header {
	width: 100%;
	height: 75px;
	background-color: #f1f0f1;
	box-shadow: 0px 2px 5px grey;
	position: fixed;
	top: 0px;
	z-index: 1;
	background-image: url("../img/worldhaven.png");
	background-position: center;
	background-size: 600px 70px;
	background-repeat: no-repeat;
}

.headerBtn {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	background-color: white;
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	transition: box-shadow 0.3s;
	cursor:pointer;
}

.headerBtn:hover {
	box-shadow: 0px 1px 1px grey;
}

#home {
	left: 10px;
	background-image: url("../img/home.png");
}

#worlds {
	left: 70px;
	background-image: url("../img/worlds.png");
}

#login {
	right: 10px;
	background-image: url("../img/user.png");
}

#forums {
	right: 70px;
	background-image: url("../img/forums.jpg");
}

/*==========
====MAIN====
==========*/

#mainContainer {
	width: 1200px;
	height: 1000px;
	background-color: white;
	box-shadow: 0px 2px 5px grey;
	margin: 100px auto 25px;
	overflow: hidden;
	padding: 10px;
}

#welcomeImg {
	max-width: 100%;
	height: 300px;
	font-weight: 700;
	background-color: white;
	box-shadow: 0px 2px 3px grey;
	border-radius: 5px 5px 0px 0px;
	color: white;
	text-align: center;
	font-size: 80px;
	line-height: 1.8em;
	text-shadow: 1px 1px grey;
}

#welcomeText {
	width: 660px;
	height: 80px;
	background-color: white;
	box-shadow: 0px 2px 3px grey;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	color: #333;
	font-size: 18px;
}

#centerCol {
	width: 680px;
	height: 100%;
	background-color: #f1f0f1;
	box-shadow: 0px 2px 5px grey;
	overflow: hidden;
	padding: 10px;
}

/*==========
====LEFT====
==========*/

#leftCol {
	position: absolute;
	width: 205px;
	height: 980px;
	background-color: #f1f0f1;
	box-shadow: 0px 2px 5px grey;
	overflow: hidden;
	z-index: 0;
	padding: 10px;
}

.featuredWorlds {
	position: relative;
	height: 30%;
	background-color: white;
	box-shadow: 0px 4px 5px grey;
}

.worldHeader {
	height: 15%;
	color: #3498db;
	font-weight: 700;
	/*border-bottom: 5px solid #f1f0f1;*/
	text-align: center;
	line-height: 3em;
	box-shadow: 0px 1px 3px grey;
	margin-bottom: 3px;
	margin-top: 20px;
}

.worldInfo {
	color: #3498db;
	height: 20%;
	background-color: white;
	box-shadow: 0px 4px 5px grey;
	text-align: center;
	line-height: 3em;
}

.test {
	position: relative;
	height: calc(16% - 8px);
	background-color: white;
	border-bottom: 3px solid #3498db;
	padding: 4px;
	transition: background-color 0.3s, box-shadow 0.3s;
	cursor:pointer;
	line-height: 0.9em;
}

.test:hover {
	box-shadow: 0px 2px 5px grey;
	z-index: 5;
}

dl {
	margin: 0;
	overflow: hidden;
	color: grey;
	font-size: 12px;
}

dt, dd {
	margin: 0;
}

/*===========
====LOGIN====
===========*/

#loginModal {
	width: 380px;
	height: 280px;
	background-color: blue;
	opacity: 0;
	position: fixed;
	top: 300px;
	left: calc(50% - 200px);
	background-color: white;
	box-shadow: 0px 2px 5px grey;
	border-radius: 3px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	background-image: url("../img/worldhaven.png");
	background-position: 50% 25%;
	background-size: 250px 30px;
	background-repeat: no-repeat;
}

input {
	margin: 2% 10%;
	position: relative;
	height: 30px;
	width: 80%;
	font-size: 20px;
}

input:focus, textarea:focus {
	outline-color: #3498db;
}

form {
	margin-top: calc(25%);
}

span {
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
}

button {
	background-color: #3498db;
	border: none;
	color: white;
	width: 80px;
	height: 25px;
	box-shadow: 0px 2px 0px grey;
	margin-top: 10px;
	border-radius: 2px;
}

button:hover, button:focus {
	outline: none;
	box-shadow: 0px 0px 0px grey;
	margin-top: 12px;
}